.cftmc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapperNature {
  min-width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.placesYouTravelled {
  margin-top: 190px;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  min-height: 225px;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.placesYouTravelled p {
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  margin-top: 30px;
}

.lineAndOnePicDiv {
  min-width: 1100px;
  margin-top: 150px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.plusIcon {
  margin-top: 0px;
}

/* .picDiv {
  width: 35%;
} */
.picDiv img {
  min-height: 205px;
  max-width: 300px;
}

.wrapperForLeftDiv {
  display: flex;
  flex-direction: column;
  /* min-width: 800px; */
}

.horizontal-rule {
  border: none;
  height: 3px;
  margin-top: 15px;
  background-color: black;
  width: 500px;
  min-width: 600px;
}

.para {
  display: flex;
  justify-content: center;
  max-width: 1500px;
}
.para p {
  font-weight: 600;
  font-size: 50px;
  text-align: center;
}
.wrapperForUser {
  min-width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.leftArrow {
  margin-top: 120px;
  /* margin-right: 120px; */
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 280px;
}

.left-form {
  width: 30%;
}

.left-form h1 {
  margin-bottom: 12px;
}
.wrapperForForm {
  display: flex;
  min-width: 1100px;
  flex-direction: row;
  margin-top: 170px;
  justify-content: space-between;
}

.form textarea {
  height: 120px;
}

.formPic {
  display: flex;
  /* width: 50%; */
  width: 680px;
  align-items: center;
}

.formPic img {
  height: 440px;
}

.formElements {
  height: 40px;
  margin: 5px;
  width: 300px;
  border: 2px solid black;
  border-radius: 6px;
}
#buttonSubmit {
  margin-top: 40px;
  background-color: black;
  color: white;
}

.footer {
  display: flex;
  flex-direction: row;
  margin-top: 200px;
  margin-bottom: 0;
  background-color: rgb(199, 197, 197);
  height: 400px;
}

.left {
  display: flex;
  width: 30%;
  padding-top: 70px;
  justify-content: center;
}
.right {
  width: 70%;
}
.rightTop {
  display: flex;
  margin-top: 75px;
  height: 15%;
}
.rightBot {
  height: 80%;
}

.firstPart {
  display: flex;
  flex-wrap: wrap;
  height: 40%;
}

.rightPara {
  height: 20px;
  width: 200px;
  /* margin-top: 5px; */
}

.secondPart {
  justify-content: center;
  height: 40%;
  margin-top: 30px;
  margin-left: 35px;
}

.bairaKoWrapperForUser {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: brown;
}

.wrapperForUser {
  max-width: 1100px;
}

.wrapper-for-arrow {
  border: 2px solid black;
  padding: 9px;
  border-radius: 4px;
}
.wrapper-for-arrow .arrow {
  transform: scale(2, 2);
}
.wrapper-for-arrow.arrow-left {
  margin-right: -10px;
  background: white;
  z-index: 10;
  position: relative;
}

.wrapper-for-arrow.arrow-right {
  margin-left: -17px;
  background: white;
  z-index: 10;
  position: relative;
}

.userCarousel {
  width: 1100px !important;
  display: flex;
  align-items: center;
}

.carousel-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
