.wrapperForHome {
  display: flex;
  justify-content: center;
}

.home {
  display: flex;
  max-height: 400px;
  width: 1100px;
  justify-content: space-around;
  padding-top: 50px;
  margin-top: 30px;
}
.homeLeft {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: flex-start;
  justify-content: space-between;
}

.homeLeft h1 {
  display: flex;
  justify-content: flex-start;
  /* text-align: justify; */
  font-weight: 700;
}

.homeLeft p {
  margin-top: 20px;
  margin-bottom: 20px;

  padding-right: 45px;
  text-align: justify;
}

.homeLeft button {
  max-height: 35px;
  min-width: 290px;
  background-color: black;
  color: white;
  padding: 9px;
  border-radius: 4px;
  margin-left: 0;
}

.homeLeft button:hover {
  cursor: pointer;
}

/* #heading-homeLeft {
} */

.homeRight {
  display: flex;

  margin: auto;
  /* justify-content: flex-end; */
  width: 70%;
  justify-content: flex-end;
  align-items: center;
}
.homeRight img {
  width: 700px;
  max-height: 350px;
}

h1 {
  font-weight: bolder;
  font-size: 60px;
}

.kaaloDiv {
  margin-top: 125px;
  margin-bottom: 125px;
  display: flex;
  min-height: 300px;
  background-color: rgb(29, 29, 29);
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.kaaloDiv p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.kaaloDiv button {
  max-height: 35px;
  max-width: 170px;
  background-color: black;
  color: white;
  border-color: white;
  padding: 9px;
  border-radius: 5px;
  border-width: 2px;
}
