.horizontal-rule {
  border: none;
  height: 3px;
  background-color: black;
  width: 500px;
  min-width: 600px;
}

.lineDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.paragraphAndPlus {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.paragraphAndPlus p {
  margin-right: 120px;
}
