.toAddNatureContent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  max-width: 300px;
}

.toAddNatureContent img {
  height: 160px;
  min-width: 300px;
  /* padding: 0; */
}

.toAddNatureContent p {
  padding-top: 15px;
}
.minus {
  display: flex;
  justify-content: flex-start;
}

.toAddNatureContent div {
  font-weight: bolder;
  font-size: larger;
}
